<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/BREAK_AND_CONTINUE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1, 11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [2]:
for i in range(1, 8):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7

In [3]:
while True:
    word = input("Enter something: ")
    if word == "stop":
        break
    print("You entered:", word)

Enter something: hello
You entered: hello
Enter something: stop

In [4]:
for num in range(1, 11):
    if num % 2 != 0:   # odd â†’ skip
        continue
    print(num)

2
4
6
8
10

In [5]:
nums = [5, 8, 3, -1, 6]

for n in nums:
    if n < 0:
        break
    print(n)

5
8
3

In [6]:
names = ["seher", "Zoha", "Arwa", "falak"]

for n in names:
    if n.startswith("A"):
        continue
    print(n)

seher
Zoha
falak

In [7]:
for i in range(1, 4):
    for j in range(1, 5):
        if i == 2 and j == 3:
            break
        print(i, j)

1 1
1 2
1 3
1 4
2 1
2 2
3 1
3 2
3 3
3 4

In [8]:
for i in range(1, 4):
    for j in range(1, 4):
        if j == 2:
            continue
        print(i, j)

1 1
1 3
2 1
2 3
3 1
3 3