<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/DATA_STRUCTURE_IPYNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nums = [1, 2, 3, 4, 5, 6]
for n in nums:
    if n % 2 == 0:
        print(n)

2
4
6

In [2]:
fruits = ["apple", "banana", "mango"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)

['apple', 'mango', 'orange']

In [3]:
t = (10, 20, 30, 40)
print(t.index(30))

2

In [4]:
a = {1, 2, 3, 4}
b = {3, 4, 5}
print(a.intersection(b))

{3, 4}

In [5]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(nums))
print(unique)

[1, 2, 3, 4, 5]

In [6]:
student = {"name": "Ali", "age": 20, "city": "Delhi"}

for k, v in student.items():
    print(k, ":", v)

name : Ali
age : 20
city : Delhi

In [7]:
info = {"brand": "Toyota", "year": 2015}
info["color"] = "white"
print(info)

{'brand': 'Toyota', 'year': 2015, 'color': 'white'}

In [8]:
stack = []
stack.append(10)
stack.append(20)
stack.pop()     # removes 20
print(stack)

[10]