<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/F_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
item = "Wireless Mouse"
price = 599.5
qty = 3
tax_rate = 0.18

# 1. Calculations
subtotal = price * qty
tax_amount = subtotal * tax_rate
grand_total = subtotal + tax_amount

# 2. Printing using f-strings
line = "-" * 30

print(f"Item           : {item}")
print(f"Price per unit : ₹{price:.2f}")
print(f"Quantity       : {qty}")
print(line)
print(f"Subtotal       : ₹{subtotal:.2f}")
print(f"Tax ({tax_rate*100:.0f}%)      : ₹{tax_amount:.2f}")
print(f"Grand Total    : ₹{grand_total:.2f}")

Item           : Wireless Mouse
Price per unit : ₹599.50
Quantity       : 3
------------------------------
Subtotal       : ₹1798.50
Tax (18%)      : ₹323.73
Grand Total    : ₹2122.23

In [2]:
name = "Arwa Fatima"
roll = 23
sub1 = 87   # Maths
sub2 = 92   # Science
sub3 = 78   # English

# 1. Calculations
total = sub1 + sub2 + sub3
percentage = total / 3

# Grade logic
if percentage >= 90:
    grade = "A+"
elif percentage >= 80:
    grade = "A"
elif percentage >= 70:
    grade = "B"
else:
    grade = "C"

line = "-" * 31

print(f"{line}")
print(f"{'MARKSHEET':^31}")
print(f"{line}")
print(f"Name      : {name}")
print(f"Roll No   : {roll}")
print("-" * 31)
print(f"{'Subject':<15}{'Marks'}")
print(f"{'Maths':<15}{sub1}")
print(f"{'Science':<15}{sub2}")
print(f"{'English':<15}{sub3}")
print("-" * 31)
print(f"{'Total':<15}{total}")
print(f"{'Percentage':<15}{percentage:.2f}%")
print(f"{'Grade':<15}{grade}")

-------------------------------
           MARKSHEET
-------------------------------
Name      : Arwa Fatima
Roll No   : 23
-------------------------------
Subject        Marks
Maths          87
Science        92
English        78
-------------------------------
Total          257
Percentage     85.67%
Grade          A

In [3]:
emp_name = "Zoya Khan"
basic_salary = 35000
hra = 0.20
da = 0.10
pf = 0.12

# 1. Calculations
hra_amt = basic_salary * hra
da_amt = basic_salary * da
pf_amt = basic_salary * pf

gross_salary = basic_salary + hra_amt + da_amt
net_salary = gross_salary - pf_amt

line = "-" * 37
top_bottom = "=" * 37

print(f"{top_bottom}")
print(f"{'Salary Slip':^37}")
print(f"{top_bottom}")
print(f"{'Employee':<15}: {emp_name}")
print(f"{'Basic Salary':<15}: {basic_salary:.2f}")
print(line)
print(f"{'HRA  (20%)':<15}: {hra_amt:.2f}")
print(f"{'DA   (10%)':<15}: {da_amt:.2f}")
print(f"{'PF   (12%)':<15}: {pf_amt:.2f}")
print(line)
print(f"{'Gross Salary':<15}: {gross_salary:.2f}")
print(f"{'Net Salary':<15}: {net_salary:.2f}")
print(f"{top_bottom}")

=====================================
             Salary Slip
=====================================
Employee       : Zoya Khan
Basic Salary   : 35000.00
-------------------------------------
HRA  (20%)     : 7000.00
DA   (10%)     : 3500.00
PF   (12%)     : 4200.00
-------------------------------------
Gross Salary   : 45500.00
Net Salary     : 41300.00
=====================================

In [4]:
p = 15000
r = 0.08
n = 3

A = p * (1 + r) ** n
interest = A - p

# Debug using f-strings with var=
print(f"{p=}, {r=}, {n=}")
print(f"{A=:.2f}, {interest=:.2f}")

p=15000, r=0.08, n=3
A=18895.68, interest=3895.68

In [5]:
product = "Noise Cancelling Headphones"
mrp = 4999
discount = 0.25
rating = 4.3

final_price = mrp * (1 - discount)

row = (
    f"{product} | "
    f"MRP: ₹{mrp} | "
    f"Discount: {discount*100:.0f}% | "
    f"Final: ₹{final_price:.2f} | "
    f"Rating: {rating}★"
)

print(row)

Noise Cancelling Headphones | MRP: ₹4999 | Discount: 25% | Final: ₹3749.25 | Rating: 4.3★

In [6]:
print(f"{'Num':>3}   {'Square':>6}   {'Cube':>4}")

for n in range(1, 6):
    square = n ** 2
    cube = n ** 3
    print(f"{n:>3}   {square:>6}   {cube:>4}")

Num   Square   Cube
  1        1      1
  2        4      8
  3        9     27
  4       16     64
  5       25    125

In [7]:
day = 9
month = 4
year = 2025
hour = 7
minute = 5

date_str = f"{day:02d}-{month:02d}-{year}"
time_str = f"{hour:02d}:{minute:02d}"

print(f"Current Date & Time: {date_str} {time_str}")

Current Date & Time: 09-04-2025 07:05

In [9]:
user = {
    "name": "Arwa",
    "age": 23,
    "city": "kashmir",
    "course": "Data Science"
}

print(f"{user['name']} is {user['age']} years old, lives in {user['city']} and is studying {user['course']}.")

print(
    f"Profile: Name={user['name']} | "
    f"Age={user['age']} | "
    f"City={user['city']} | "
    f"Course={user['course']}"
)

Arwa is 23 years old, lives in kashmir and is studying Data Science.
Profile: Name=Arwa | Age=23 | City=kashmir | Course=Data Science