<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def greet():
    print("Hello Python")

greet()

Hello Python

In [2]:
def hello(name):
    print("Hello", name)

hello("Arwa")

Hello Arwa

In [3]:
def square(num):
    return num * num

print(square(5))

25

In [4]:
def greet(name="User"):
    return "Hello " + name

print(greet())
print(greet("Arwa"))

Hello User
Hello Arwa

In [5]:
def add(a, b):
    return a + b

print(add(10, 20))

30

In [6]:
def even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(even_odd(7))

Odd

In [7]:
def total(*nums):
    return sum(nums)

print(total(1, 2, 3, 4))

10

In [8]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

In [9]:
def person(**details):
    return details

print(person(name="Arwa", age=20))

{'name': 'Arwa', 'age': 20}

In [10]:
multiply = lambda a, b: a * b
print(multiply(3, 4))

12