<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/loops_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [3]:
N = 10
total = 0

for i in range(1, N + 1):
    total += i

print("Sum =", total)

Sum = 55

In [4]:
nums = [3, 6, 2, 9, 12, 15, 18]

count = 0
for n in nums:
    if n % 2 == 0:
        count += 1

print("Even count =", count)

Even count = 4

In [5]:
text = "hello"
rev = ""

for ch in text:
    rev = ch + rev

print(rev)

olleh

In [6]:
num = 7

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [7]:
nums = [10, 5, 22, 7, 15]

largest = nums[0]

for n in nums:
    if n > largest:
        largest = n

print("Largest =", largest)

Largest = 22

In [8]:
num = 13
is_prime = True

for i in range(2, num):
    if num % i == 0:
        is_prime = False
        break

if is_prime:
    print(num, "is Prime")
else:
    print(num, "is Not Prime")

13 is Prime

In [9]:
n1, n2 = 0, 1
print(n1, n2, end=" ")

for i in range(8):
    nxt = n1 + n2
    print(nxt, end=" ")
    n1 = n2
    n2 = nxt

0 1 1 2 3 5 8 13 21 34

In [10]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****