<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}")


s1 = Student("Arwa", 22)
s2 = Student("Zoya", 20)

s1.display_info()
s2.display_info()

Name: Arwa, Age: 22
Name: Zoya, Age: 20

In [2]:
class Car:
    def __init__(self, brand, model, year=2024):
        self.brand = brand
        self.model = model
        self.year = year

    def details(self):
        print(f"{self.brand} {self.model}, Year: {self.year}")


c = Car("Toyota", "Corolla")
c.details()

Toyota Corolla, Year: 2024

In [3]:
class BankAccount:
    def __init__(self, balance=0):
        self.__balance = balance

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if amount > self.__balance:
            print("Insufficient balance")
        else:
            self.__balance -= amount

    def get_balance(self):
        return self.__balance


account = BankAccount(1000)
account.deposit(500)
account.withdraw(300)
print("Balance:", account.get_balance())

Balance: 1200

In [ ]:
class Person:
    def show(self):
        print("This is Person class")

class Student(Person):
    def display(self):
        print("This is Student class")


s = Student()
s.show()
s.display()

In [4]:
class Grandfather:
    def show_grandfather(self):
        print("I am Grandfather")

class Father(Grandfather):
    def show_father(self):
        print("I am Father")

class Son(Father):
    def show_son(self):
        print("I am Son")


obj = Son()
obj.show_grandfather()
obj.show_father()
obj.show_son()

I am Grandfather
I am Father
I am Son

In [5]:
class Animal:
    def sound(self):
        print("Animal makes sound")

class Dog(Animal):
    def sound(self):
        print("Dog barks")


obj = Dog()
obj.sound()

Dog barks

In [6]:
class MathTools:
    @staticmethod
    def add(a, b):
        return a + b

    @staticmethod
    def multiply(a, b):
        return a * b


print(MathTools.add(10, 20))
print(MathTools.multiply(3, 4))

30
12

In [7]:
class Employee:
    company = "Google"

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def info(self):
        print(f"{self.name} works at {Employee.company} and earns {self.salary}")


e = Employee("Arwa", 90000)
e.info()

Arwa works at Google and earns 90000

In [8]:
class Book:
    def __init__(self, title, price):
        self.title = title
        self.price = price

    def show(self):
        print(f"{self.title} → ₹{self.price}")


books = [
    Book("Python Programming", 499),
    Book("Data Science Basics", 699),
    Book("Machine Learning", 899)
]

for b in books:
    b.show()

Python Programming → ₹499
Data Science Basics → ₹699
Machine Learning → ₹899