<a href="https://colab.research.google.com/github/arwahh/github-practice/blob/main/Recursions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_numbers(n):
    if n == 0:
        return
    print_numbers(n - 1)
    print(n)

print_numbers(5)

1
2
3
4
5

In [2]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

In [3]:
def sum_n(n):
    if n == 1:
        return 1
    return n + sum_n(n - 1)

print(sum_n(5))

15

In [4]:
def print_digits(n):
    if n < 10:
        print(n)
        return
    print_digits(n // 10)
    print(n % 10)

print_digits(1234)

1
2
3
4

In [5]:
def count_digits(n):
    if n == 0:
        return 0
    return 1 + count_digits(n // 10)

print(count_digits(54321))

5

In [6]:
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

print(fib(6))

8

In [7]:
def reverse(s):
    if len(s) == 0:
        return s
    return reverse(s[1:]) + s[0]

print(reverse("python"))

nohtyp

In [8]:
def power(a, n):
    if n == 0:
        return 1
    return a * power(a, n - 1)

print(power(2, 3))

8

In [9]:
def find_min(lst, n):
    if n == 1:
        return lst[0]
    return min(lst[n-1], find_min(lst, n-1))

print(find_min([5, 3, 8, 1, 9], 5))

1

In [10]:
def sum_list(lst, n):
    if n == 0:
        return 0
    return lst[n-1] + sum_list(lst, n-1)

print(sum_list([1, 2, 3, 4, 5], 5))

15